.App {
  text-align: center;
  padding: 60px 32px;
}

.logo {
  width: 120px;
  height: auto;
}

.dropdown--select {
  margin-left: 12px;
}

.canvas {
  width: fit-content;
  margin: 50px auto;
}

.grid--row {
  display: flex;
  flex-wrap: wrap;
}

.grid__cell {
  flex: 1;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 60px;
  font-size: 36px;
}

.button--reset {
  padding: 12px 24px;
  background-color: rgb(235, 113, 0);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.button--reset:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(235, 113, 0, 0.35);
}